[submodule "fyyur"]
	path = fyyur
	url = https://github.com/thekakkun/fyyur.git
	branch = main
[submodule "trivia_app"]
	path = trivia_app
	url = https://github.com/thekakkun/trivia_app.git
	branch = main
[submodule "coffee_shop"]
	path = coffee_shop
	url = https://github.com/thekakkun/Coffee-Shop.git
	branch = main
[submodule "cicd"]
	path = cicd
	url = https://github.com/thekakkun/cicd.git
	branch = main
[submodule "resto_rando"]
	path = resto_rando
	url = https://github.com/thekakkun/resto_rando.git
	branch = main
