[submodule "fyyur"]
	path = fyyur
	url = https://github.com/thekakkun/fyyur.git
[submodule "trivia_app"]
	path = trivia_app
	url = https://github.com/thekakkun/trivia_app.git
[submodule "coffee_shop"]
	path = coffee_shop
	url = https://github.com/thekakkun/Coffee-Shop.git
